body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#nav2 p {
    font-size: 13px;
    margin-block: auto;
    text-align: center;
}
#nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav1 a {
    padding: 10px 20px;
    font-size: 13px;
}
#nav1 img {
    margin-top: 5px;
}
#welcome {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#above {
    position: relative;
    top: -4em;
}
#below {
    position: relative;
    top: -3em;
    color:white;
    font: bold;
}

#below p{
    margin-bottom: 0px;
    font-size: 15px;
}

.muted{
    color: #9c9c9c;
}

#slides {
    background-color: rgb(41, 41, 41);
    padding: 70px;
    color: white;
    overflow-x: hidden;
    position: relative;
    height: auto;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slides h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
}

#slides .text-primary {
    font-size: 16px;
    text-decoration: none;
}

.image-track {
    display: flex;
    gap: 20px;
    width: max-content; /* Ensures it takes up necessary space */
}

.highlight-card {
    background-color: #1c2526;
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card-text {
    width: 50%;
    display: flex;
    align-items: center;
}

.card-text p {
    font-size: 32px;
    color: white;
    margin: 0;
    line-height: 1.2;
}

.card-text sup {
    font-size: 16px;
    vertical-align: super;
}

.card-image {
    width: 30%;
    height: auto;
    object-fit: contain;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-dots .dot {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.carousel-dots .dot.active {
    background-color: #fff;
}


#take {
    color: white;
    padding: 70px;
}

#take h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
}