body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#nav2 p {
    font-size: 13px;
    margin-block: auto;
    text-align: center;
}
#nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav1 a {
    padding: 10px 20px;
    font-size: 13px;
}
#nav1 img {
    margin-top: 5px;
}
#welcome {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#above {
    position: relative;
    top: -4em;
}
#below {
    position: relative;
    top: -3em;
    color:white;
    font: bold;
}

#below p{
    margin-bottom: 0px;
    font-size: 15px;
}

.muted{
    color: #9c9c9c;
}

#slides {
    background-color: rgb(41, 41, 41);
    padding: 50px;
    color: white;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-track {
    display: flex;
    gap: 20px;
    width: max-content; /* Ensures it takes up necessary space */
}

.scroll-image {
    width: 80vw;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
